.projects{
  display: grid;
  width: 98vw;
  margin: auto;
  margin-bottom: 1.25vw;
  border-radius: 3px;
  background-image: linear-gradient(to bottom right, var(--eighteen) 0%,var(--five) 50%);
  background-size: 200% 300%;
  background-position: bottom right;
  transition: all .8s ease-out;
}

.projects:hover{
  background-position: top left;
  transition: all .8s;
}

.heading{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5vmax;
  color: white;
  padding: 1vw;
}

@media screen and (orientation: portrait) {
.projects{
  background-position: 25% 25%;
grid-template-columns: repeat(2, 1fr);
}
.heading{
  grid-column: 1 / span 2;
}
}

@media screen and (orientation: landscape) {
.projects{
  grid-template-columns: repeat(3, 1fr);
}
.heading{
  grid-column: 1 / span 3;
  
}
}