.about{
  display: grid;
  width: 98vw;
  margin: auto;
  border-radius: 3px;
  background-image: linear-gradient(to bottom right, var(--seven) 0%,var(--five) 50%);
  background-size: 300% 300%;
  background-position: bottom right;
  margin-bottom: 1.25vw;
  transition: all .8s ease-out;
}

.about:hover{
  background-position: top left;
  transition: all .8s;
  box-shadow: 0 0 20px var(--fourteen);
}

.about:hover .heading{
  color: var(--fourteen);
  }

.heading{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5vmax;
  color: white;
  padding: 2vw;
}

.title{
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 8vw;
}

.subTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--twenty-three);
  font-size: 4vw;

}



.details{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  grid-column: span 2;
  align-self: center;
  color: #ccc;
}

.profileImage{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px var(--two);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  transition: all .4s ease;
}

.image{
  width: 100%;
  transform: scale(1.1);
  transition: all .4s ease;
}

.profileImage:hover{
  box-shadow: 0 0 40px var(--fourteen);
  content: "";
  border-radius: 25%;
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-135deg);
}

.profileImage:hover .image{
  transform: scale(1.2) rotate(120deg);
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.profileCaption{
  grid-column: 2 / span 1;
  grid-row: 2;
  align-self: center;
  margin: auto;
}

@media screen and (orientation: portrait) {
  .profileImage{
    width: 70%;
    margin: 15%;
  }

  .about{
  grid-template-columns: repeat(2, 1fr);
  background-position: top left;
  }
  .heading{
    grid-column: 1 / span 2;
  }

  .profile{
    grid-column: 1 / span 2;
  }

  .details{
    margin: 0 5% 5% 5%;

    font-size: 3vw;
  }
  }
  
  @media screen and (orientation: landscape) {
      .details{
        margin: 0 5% 5% 5%;
        grid-column: 1/ span 3;
        grid-row: 3;
      }

    .profileImage{
      width: 70%;
      margin: 15% 0 15% 30%;
      grid-column: 1;
      grid-row: 2;
    }
    .profileCaption{
      margin-right: 25%;
      grid-column: 2 / span 2;
    }
  .about{
    grid-template-columns: repeat(3, 1fr);
  }
  .heading{
    grid-column: 1 / span 3;
    grid-row: 1;
    
  }


  }