.contact{
  box-shadow: 0 0 20px var(--seven);
  display: grid;
  width: 98vw;
  margin: 2.5vw auto 2.5vw auto;
  border-radius: 3px;
  
  background-image: linear-gradient(to bottom right, var(--nine) 0%,var(--twenty-two) 50%);
  background-size: 300% 600%;
  background-position: bottom right;
  margin-bottom: 1.25vw;
  transition: all .8s ease-out;
  grid-template-columns: 1fr 2fr;
}

@media screen and (orientation: landscape) {

  .contact{
    width: 75vw;
  }
}

.contact:hover{
  background-position: top left;
  transition: all .8s;
  box-shadow: 0 0 20px var(--fourteen);
}

.contact:hover .heading{
color: var(--fourteen);
}

.heading{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5vmax;
  color: white;
  padding: 2vw;
  margin-bottom: 8vw;
  grid-column: 1 / span 2;
}

.submit{
  background-position: bottom right;
  grid-column: 1 / span 2;
  border-radius: 3px;
  margin: 2vw 8vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
 font-size: 3vmax;
 padding: 2vw;
  box-shadow: 0 0 10px var(--one);
  background-size: 300% 600%;
  background-image: linear-gradient(to bottom right, var(--twenty-seven) 0%,#888 50%);
  transition: all .2s;
}

.submit:hover,
.submit:focus{
  background-position: top left;
  transition: all .2s;
  transform: translateY(-3px);
}

.submit:active{
  transition: all .2s;
  transform: translateY(-1px);
}

.labels{
  text-align: center;
  color: #eee;
 margin: 2vw 8vw;
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-size: 3vmax;
 padding: 0;
}

.inputWrap{
  position: relative;
  width: 100%;
}
.inputs{
  border: 2px inset #ddd ;
  padding: 1vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--eight);
  font-size: 2.5vmax;
  margin: 2vw 8vw 2vw 2vw;
  width: calc(100% - 14vw);
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px var(--one);
  transition: all .4s;
}

.inputs:focus{
  box-shadow: 0 0 20px var(--fourteen);
  transition: all .4s;
}

.inputsFilled,
.inputs:focus ~ .placeholder{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:  var(--three);
  transition: all .2s ease-out;
  top: 0;
  font-size: 1.5vmax;
  transform: translateY(-35%);
  transform-origin: left;
  pointer-events: none;
  position: absolute;
  left: 3vw;

}
 .placeholder{
  transition: all .2s ease-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2vmax;
  pointer-events: none;
  position: absolute;
  left: 3vw;
  top: 1.25vw;
  transform: translateY(50% );
  color: var(--thirteen);
}

.message{
  min-height: 10vmax;
}




  