body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --one: rgb(0, 139, 148);
  --two: #027dff;
  --three: #15232d;
  --four: #171d23;
  --five: #181e24;
  --six: #1D252C;
  --seven: #1F4662;
  --eight: #243E51;
  --nine: #26506D;
  --ten: #28313a;
  --eleven: #28323a;
  --twelve: #333F4A;
  --thirteen: #33CED8;
  --fourteen: #3ad900;
  --fifteen: #3d454d;
  --sixteen: #41505E;
  --seventeen: #4e6e99;
  --eighteen: rgb(83, 154, 252);
  --nineteen: #5ec4ff;
  --twenty: #68A1F0;
  --twenty-one: #70e1e8;
  --twenty-two: #718CA1;
  --twenty-three: #8bd49c;
  --twenty-four: #9effff;
  --twenty-five:#b62d65;
  --twenty-size: #B7C5D3;
  --twenty-seven: #D95468;
  --twenty-eight: #E27E8D;
  --twenty-nine: #ee3a43;
  --thirty: #fb94ff;
  --thirty-one: #8a8a8a;
  }

