body {
  background: #aaa;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body::-webkit-scrollbar {
  z-index: 1;
width: 1vw;
}

body::-webkit-scrollbar:hover{
  border: 1px solid #444;
  z-index: 1;
  background: rgba(38, 80, 109,.4);
width: 1vw;
  }


/* Track */
body::-webkit-scrollbar-track {
  z-index: 1;
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  z-index: 1;
  border: 1px solid var( --five); 
  background: rgba(24, 30, 36,.3);
}


/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  border: 1px solid #444;
  box-shadow: 0 0 5px var(--eleven);
  z-index: 1;
  background: var( --eight); 
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  box-sizing: border-box;
  --one: rgb(0, 139, 148);
  --two: #027dff;
  --three: rgb(21, 35, 45);
  --four: #171d23;
  --five: rgb(24, 30, 36);
  --six: #1D252C;
  --seven: #1F4662;
  --eight: #243E51;
  --nine: rgb(38, 80, 109);
  --ten: #28313a;
  --eleven: rgb(40, 50, 58);
  --twelve: #333F4A;
  --thirteen: #33CED8;
  --fourteen: rgb(58, 217, 0);
  --fifteen: rgb(60, 68, 77);
  --sixteen: #41505E;
  --seventeen: #4e6e99;
  --eighteen: rgb(83, 154, 252);
  --nineteen: #5ec4ff;
  --twenty: #68A1F0;
  --twenty-one: rgb(112, 225, 232);
  --twenty-two: #718CA1;
  --twenty-three: #8bd49c;
  --twenty-four: rgb(158, 255, 255);
  --twenty-five:#b62d65;
  --twenty-six: #B7C5D3;
  --twenty-seven: #D95468;
  --twenty-eight: #E27E8D;
  --twenty-nine: rgb(238, 58, 67);
  --thirty: #fb94ff;
  --thirty-one: #8a8a8a;
  --thirty-two: rgb(30,30,30);
  }

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}