

.dropDown{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
background-image: linear-gradient(var(--one), var(--nine));
position: fixed;
top: -20vh;
height: 120vh;
width: 100vw;
transform: translateY(0);
transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hide{
  transform: translateY(-100vh);
  filter: blur(2px) opacity(0);
  transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
}

.nameSection {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: flex;
}

.title {
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--eleven);
}



@media screen and (orientation: portrait) {
  .title{
    font-size: 3vmax;
    padding: 2vmax;
    
  }
  .navButton{
    top:  2vw;
    right: 3vw;
  }

  .navWrapper{
    width: 90%;
    height: 60vh;
    margin-bottom: 20vh;
  }
}

.navWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (orientation: landscape) {
  .navWrapper{
    width: 50%;
    height: 90vh;
    margin-bottom: 5vh;
  }

  .title{
    font-size: 4vmin;
    padding: 2vmin;
  }

  .navButton{
    top:  1vw;
    right: 2vw;
    transform: scale(.65);
  }
}
.navButton{
  content:"";
  width: 4.5vmax;
  height: 4.5vmax;
  position: fixed;
  z-index: 10000;
}

.openMenu{
  position: absolute;
  top: 50%;
}

.openMenu,
.openMenu::before,
.openMenu::after {
  width: 4.5vmax;
  height: .25vmax;
  background-image: linear-gradient(to bottom, 
    var(--twenty-four) 0%, 
    var(--twenty-four) 50%, 
    var(--twenty-four) 100% );
  border-radius: 200px;
  z-index: 10000;
  content: "";
  transition: top .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.openMenu::before,
.openMenu::after {
  display: inline-block;
  position: absolute;
}

.openMenu::before{
  top: -1.25vmax;
}

.openMenu::after{
  top: 1.25vmax;
}



.closeMenu {
  position: absolute;
  top: 50%;
  width: 4.5vmax;
  height: .25vmax;
  border-radius: 200px;
  z-index: 10000;
  content: "";
}


.closeMenu::before,
.closeMenu::after {
  width: 4.5vmax;
  height: .25vmax;
  background-image: linear-gradient(to bottom, 
    var(--twenty-four) 0%, 
    var(--twenty-four) 50%, 
    var(--twenty-four) 100% );
  border-radius: 200px;
  z-index: 10000;
  content: "";
  transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.closeMenu::before,
.closeMenu::after {
  top: 0;
  display: inline-block;
  position: absolute;
  transform-origin: center;
}

.closeMenu::before{
  transform: rotate(45deg);
}

.closeMenu::after{
  transform: rotate(-45deg);
}

.navLink:hover .heading {
  background-position-x: left;
  transition: all .75s ease-out;
}


.navLink:active{
  box-shadow: 0 0 45px #333;
transform: translateY(-1px);
transition: all .2s ease;
box-sizing: border-box;
}



.heading {
  font-weight: 100;
  font-size: 5vmin;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right,  var(--fourteen) 50%,var(--one) 50%);
  background-size: 300% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: center center;
  background-position-x: right;
  transition: all .7s ease-in;
}


.navLink{
  margin: 3vmin;
  background-color: var(--five);
  color: var(--one);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 5vmin;
  border-radius: 3px;
  box-shadow: 0 0 40px #333;
  box-shadow: 0 0 40px #333;
  filter: brightness(1.1);
}

.navLink:hover{
box-shadow: 0 0 50px #333;
transform: translateY(-2px);
transition: all .2s ease;
}

.link{
  height: 100%;
  width: 100%;
  position: absolute;
}



